.container {
	width: 80vw;
	min-height: calc(100vh - 200px);

	margin: 0 auto;
	padding: 4rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	h2 {
		font-size: 2rem;
		font-weight: 600;
		color: var(--color-grey-100);
	}
}
