.settingsPage {
	background: #2a2a2a;
	border-radius: 1rem;
	padding: 1.5rem;
	color: #f0f0f0;
	margin: 0 auto;
	position: relative;
  
  > h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.banner {
  position: relative; /* 카메라 아이콘 위치 기준 */
  height: 200px;
  border-radius: 1rem;
  overflow: hidden; /* 자식이 튀어나가지 않도록 */
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* 어둡게 오버레이 */
  border-radius: 1rem;
  z-index: 2;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
}

.banner .cameraIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.banner .cameraIcon img {
  width: 36px;
  height: 36px;
  display: block;
}

.avatarWrapper {
  position: relative;
  top: -40px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: 5;
}

.avatarWrapper::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	z-index: 6;
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #444;
  display: block;
}

.avatarWrapper .cameraIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.avatarWrapper .cameraIcon img {
  width: 24px;
  height: 24px;
  display: block;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	label {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		font-size: 0.9rem;
	}

	input[type="text"] {
		padding: 0.8rem;
		border-radius: 0.5rem;
		border: none;
		background: #444;
		color: #fff;
    
	}
}

.counter {
	align-self: flex-end;
	font-size: 0.75rem;
	color: #aaa;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.section h4 {
	font-size: 1rem;
	color: #ddd;
}

.linkBtn {
	background: none;
	border: none;
	color: #ccc;
	cursor: pointer;
	font-size: 0.9rem;
	text-align: left;
	padding: 0;
}

.linkBtn:hover {
	color: #fff;
}

.submitBtn {
	background: var(--color-primary-500);
	border: none;
	padding: 0.8rem;
	border-radius: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.submitBtn:hover {
	background: var(--color-primary-600);
}
