@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
	font-family: "Poppins", "Noto Sans KR", "Ubuntu", sans-serif, system-ui;

	--color-primary-50: #ebe9feff;
	--color-primary-100: #dedbfdff;
	--color-primary-200: #beb7fbff;
	--color-primary-300: #9c92f8ff;
	--color-primary-400: #7b6ef6ff;
	--color-primary-500: #5a4af4ff;
	--color-primary-600: #483bc3ff;
	--color-primary-700: #362c92ff;
	--color-primary-800: #251e62ff;
	--color-primary-900: #120f31ff;
	--color-secondary-50: #e4f4ffff;
	--color-secondary-100: #d2ecfeff;
	--color-secondary-200: #a5dbfeff;
	--color-secondary-300: #78c8fdff;
	--color-secondary-400: #4bb7fdff;
	--color-secondary-500: #1ea5fcff;
	--color-secondary-600: #1884caff;
	--color-secondary-700: #126297ff;
	--color-secondary-800: #0c4265ff;
	--color-secondary-900: #062032ff;
	--color-tertary-50: #f6edffff;
	--color-tertary-100: #f0e2ffff;
	--color-tertary-200: #e2c5ffff;
	--color-tertary-300: #d3a7ffff;
	--color-tertary-400: #c58affff;
	--color-tertary-500: #b66dffff;
	--color-tertary-600: #9257ccff;
	--color-tertary-700: #6d4199ff;
	--color-tertary-800: #492c66ff;
	--color-tertary-900: #241633ff;
	--color-success-50: #e1f9f2ff;
	--color-success-100: #cdf5e9ff;
	--color-success-200: #9bebd3ff;
	--color-success-300: #69e2bdff;
	--color-success-400: #37d8a7ff;
	--color-success-500: #05ce91ff;
	--color-success-600: #04a574ff;
	--color-success-700: #037c57ff;
	--color-success-800: #02523aff;
	--color-success-900: #01291dff;
	--color-error-50: #ffececff;
	--color-error-100: #ffdfdfff;
	--color-error-200: #ffc0c0ff;
	--color-error-300: #ffa0a0ff;
	--color-error-400: #ff8181ff;
	--color-error-500: #ff6161ff;
	--color-error-600: #cc4e4eff;
	--color-error-700: #993a3aff;
	--color-error-800: #662727ff;
	--color-error-900: #331313ff;
	--color-warning-50: #fff5e9ff;
	--color-warning-100: #ffefdbff;
	--color-warning-200: #ffdeb6ff;
	--color-warning-300: #ffce92ff;
	--color-warning-400: #ffbd6dff;
	--color-warning-500: #ffad49ff;
	--color-warning-600: #cc8a3aff;
	--color-warning-700: #99682cff;
	--color-warning-800: #66451dff;
	--color-warning-900: #33230fff;
	--color-grey-50: #ebeef5ff;
	--color-grey-100: #c3c8d4ff;
	--color-grey-200: #a8aebfff;
	--color-grey-300: #8e95a9ff;
	--color-grey-400: #767e94ff;
	--color-grey-500: #61697fff;
	--color-grey-600: #475069ff;
	--color-grey-700: #323b54ff;
	--color-grey-800: #20283eff;
	--color-grey-900: #121829ff;
	--color-black-10: #0000001a;
	--color-black-20: #00000033;
	--color-black-30: #0000004d;
	--color-black-40: #00000066;
	--color-black-50: #00000080;
	--color-black-65: #000000a6;
	--color-black-75: #000000bf;
	--color-black-100: #000000ff;
	--color-white-10: #ffffff1a;
	--color-white-20: #ffffff33;
	--color-white-30: #ffffff4d;
	--color-white-40: #ffffff66;
	--color-white-50: #ffffff80;
	--color-white-65: #ffffffa6;
	--color-white-75: #ffffffbf;
	--color-white-100: #ffffffff;

	--primary: var(--color-primary-500);
	--foreground: var(--color-grey-50);
	--background: var(--color-grey-900);

	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 20px;
}
