.settings-page {
  border-radius: 1rem;
  padding: 1.5rem;
  color: #f0f0f0;
  margin: 0 auto;
  position: relative;

  > h1{
    font-size: 1.5rem;
  }
}

.tab-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab-buttons button {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary-800);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.tab-buttons button:hover {
  background: var(--color-primary-400);
}

.tab-buttons .active {
  background: var(--color-primary-500);
}
