.header {
	width: 90vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
	border-bottom: 1px solid var(--color-grey-300);
	position: relative;

	h1 {
		max-width: 150px;

		.logo {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	gap: 1.5rem;

	ul {
		display: flex;
		gap: 1.5rem;
	}

	a {
		text-decoration: none;
		padding-bottom: 2px;
	}

	a.active-route {
		border-bottom: 2px solid var(--foreground);
	}
}

.button-group {
	display: flex;
	align-items: center;
	gap: 1rem;

	button {
		font-family: "Poppins";
		padding: 0.5rem 1rem;
		border-radius: 8px;
		cursor: pointer;
	}

	.outline-button {
		border: 2px solid var(--primary);
		background: transparent;
		color: var(--foreground);
	}

	.filled-button {
		border: none;
		background: var(--primary);
		color: var(--foreground);
	}

	.user-avatar {
		width: 2.5rem;
		height: 2.5rem;
		padding: 0;
		border: 2px solid var(--color-primary-50);
		border-radius: 50%;
		background: transparent;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
			border-radius: 50%;
		}
	}
}

.icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.notification-wrapper {
	position: relative;
}

.red-dot {
	position: absolute;
	top: -4px;
	right: -4px;
	width: 8px;
	height: 8px;
	background-color: var(--color-error-500);
	border-radius: 50%;
}

.search-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.icon-button {
	border: none;
	background: transparent;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 2rem;
		height: auto;
		object-fit: cover;
	}
}

.dropdown {
	background-color: aqua;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}
