.container {
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.need-login-img {
  max-width: 30%;
  height: auto;
  display: block;
}

.my-notice {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}