.dialog {
	max-width: 80%;
	max-height: 80%;
	overflow-y: hidden;
	padding: 2rem;
	padding-top: 4rem;
	border-radius: 1.5rem;
	border: 1px solid var(--background);
	background-color: var(--color-grey-700);
	position: fixed;
	z-index: 100;
	color: var(--foreground);

	h3 {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}
}

.dialog::backdrop {
	background-color: var(--color-black-100);
	opacity: 0.8;
}

.backdrop {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: var(--color-black-75);
	opacity: 1;
}

/* 패널 스크롤바 */
.panel {
	max-height: 60vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow-y: scroll;
}

.panel::-webkit-scrollbar {
	width: 8px;
}
.panel::-webkit-scrollbar-track {
	background: var(--color-grey-800);
	border-radius: 6px;
	opacity: 80%;
}
.panel::-webkit-scrollbar-thumb {
	background-color: var(--color-grey-500);
	border-radius: 6px;
	transition: background 0.3s;
}
.panel::-webkit-scrollbar-thumb:hover {
	background: var(--color-grey-300);
}

/* section gap 조정 */
h4 {
	margin-bottom: 1rem;
	color: var(--color-grey-300);
	font-weight: 600;
}

.compact-gap {
	gap: 0.8rem;
	button {
		max-width: 4rem;
		max-height: 4rem;
	}
	figcaption {
		display: none;
	}
}

.compact-list {
	gap: 0.5rem;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

/* 평점 section */
.rangeRow {
	display: flex;
	align-items: center;
	gap: 1rem;

	input[type="number"] {
		min-width: 5rem;
		opacity: 1;
	}

	input::-webkit-inner-spin-button,
	input::-webkit-outer-spin-button {
		opacity: 1;
		background: transparent;
	}
}

/* buttons */
.close-button {
	width: 1.7rem;
	height: 1.7rem;
	background: transparent;
	border: none;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;

	img {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}

.button-group {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	button {
		font-family: "Noto Sans KR";
		font-weight: 500;
		font-size: 1rem;
		color: var(--foreground);
		border-radius: 12px;
		padding: 0.5rem 1rem;
		border: none;
	}
}

.apply-button {
	background-color: var(--color-primary-400);
	opacity: 40%;
	cursor: not-allowed;
	transition: background 0.2s ease;
}

.apply-button:enabled {
	background-color: var(--primary);
	cursor: pointer;
	opacity: 1;

	&:hover {
		filter: brightness(1.05);
	}
}

.clear-button {
	background-color: var(--color-grey-300);
	cursor: pointer;
	transition: background 0.2s ease;
}
