/* ott selection */
.ott-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;

	button {
		max-width: 5rem;
		max-height: 5rem;
		aspect-ratio: 1 / 1;
		padding: 0.2rem;
		border: 2px solid transparent;
		border-radius: 50%;
		background-color: transparent;
		transition: border-color 0.2s;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	button:hover {
		transform: scale(1.05);
		transition: transform 0.2s ease;
	}

	button.selected {
		border-color: var(--color-primary-300);
	}
}

.ott-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 0.5rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	figcaption {
		font-family: "Poppins";
		font-size: 0.75rem;
		color: var(--foreground);
		text-align: center;
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.counter {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		line-height: 1.5;

		span {
			margin-bottom: 1rem;
			font-weight: 300;
			font-size: 0.9rem;
			color: var(--color-grey-300);
		}
	}
}

.selector,
.no-title-selector {
	display: flex;

	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;

	button {
		border: none;
		background: transparent;
		color: var(--foreground);
		font-weight: 300;
		cursor: pointer;
	}

	button:disabled {
		cursor: not-allowed;
		color: var(--color-grey-400);
	}
}

.no-title-selector {
	width: 100%;
	justify-content: flex-end;
}

@media (max-width: 480px) {
	.counter span {
		display: none;
	}
	.selector,
	.no-title-selector {
		width: 100%;
		justify-content: flex-end;
	}
}
