.search-tab-container {
	width: 95%;
	height: auto;
	/* background-color: aqua; */
}

.tab-list {
	display: flex;
	/* gap: 3rem; */
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid var(--color-primary-400);
	margin-bottom: 2rem;

	button {
		min-width: 5rem;
		height: 100%;
		padding: 1rem 2rem;
		display: block;
		background: transparent;
		opacity: 40%;
		border: none;
		cursor: pointer;
		font-family: "Poppins";
		color: var(--color-primary-400);
	}

	button.selected {
		opacity: 1;
		color: var(--color-primary-200);
		border-bottom: 2px solid var(--color-primary-200);
	}
}
