.movie-result-container {
	max-width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie-list {
	max-width: 75vw;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1.2rem;
	box-sizing: border-box;
}
