.sortWrapper {
  position: relative;
  display: inline-block;
}


.sortToggleBtn {
  padding: 10px 30px;
  border: none;
  background-color:     black;
  color: #ccc ;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px ;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background: black;
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);

}

.option {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: #ccc;
  text-align: left;
  cursor: pointer;
  border: solid 1px ;
}

.option:hover {
  background-color: #333;
}
